<script>
$(document).ready(function() {
    $('#nav-mobility').addClass('active');
    $('#header-right i').addClass('fa-group');
    $('#header-right span').text('人流监控');
});
</script>
<style>
#mobility #allmap {
    height: 400px;
    padding: 0 20px;
}

#mobility #mobility-stat {
    height: 400px;
}

#mobility #mobility-stat #top5,
#mobility #mobility-stat #bottom5 {
    height: 180px;
}

#mobility #mobility-stat #top5 {
    margin-bottom: 40px;
}

#mobility #distribution {
    width: 100%;
    height: 300px;
    margin-top: 40px;
}
</style>
<div id="mobility">
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <div id="allmap"></div>
        </div>
        <div id="mobility-stat" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div id="top5">
            </div>
            <div id="bottom5">
            </div>
        </div>
    </div>
    <div id="distribution">
    </div>
</div>
<script>
$(document).ready(function() {
    var map = new BMap.Map("allmap"); // 创建地图实例
    map.centerAndZoom(new BMap.Point(121.445021, 31.032276), 16); // 初始化地图，设置中心点坐标和地图级别
    map.enableScrollWheelZoom(); // 允许滚轮缩放 
    map.addControl(new BMap.NavigationControl());
    map.addControl(new BMap.ScaleControl({
        anchor: BMAP_ANCHOR_BOTTOM_RIGHT
    }));
    map.setCurrentCity("上海"); // 设置地图显示的城市 此项是必须设置的
    map.setMapStyle({
        style: "hardedge"
    });

    // 人流密集top5
    var top5 = echarts.init(document.getElementById('top5'));
    option = {
        title: {
            text: 'Top 5',
            x: 'center',
            textStyle: {
                color: '#eee'
            }
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            show: false,
            data: ['图书馆', '东中院', '东下院', '陈瑞球楼', '东上院'],
        },
        calculable: true,
        series: [{
            name: '人流量',
            type: 'pie',
            radius: '55%',
            center: ['50%', '65%'],
            data: [{
                value: 315,
                name: '图书馆'
            }, {
                value: 410,
                name: '东中院'
            }, {
                value: 204,
                name: '东下院'
            }, {
                value: 125,
                name: '陈瑞球楼'
            }, {
                value: 225,
                name: '东上院'
            }]
        }]
    };
    top5.setOption(option);

    // 人流密集bottom5
    var bottom5 = echarts.init(document.getElementById('bottom5'));
    option = {
        title: {
            text: 'Last 5',
            x: 'center',
            textStyle: {
                color: '#eee'
            }
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            show: false,
            data: ['学生活动中心', '第三餐饮', '铁生馆', '光彪楼', '西区寝室'],
        },
        calculable: true,
        series: [{
            name: '人流量',
            type: 'pie',
            radius: '55%',
            center: ['50%', '65%'],
            data: [{
                value: 35,
                name: '学生活动中心'
            }, {
                value: 89,
                name: '第三餐饮'
            }, {
                value: 25,
                name: '铁生馆'
            }, {
                value: 12,
                name: '光彪楼'
            }, {
                value: 154,
                name: '西区寝室'
            }]
        }],
        textStyle: {
            color: "#fff"
        }
    };
    bottom5.setOption(option);

    // 人流分布
    var distribution = echarts.init(document.getElementById('distribution'));
    option = {
        title: {
            text: '人流分布',
            x: 'center',
            textStyle: {
                color: '#eee'
            }
        },
        tooltip: {
            trigger: 'shadow'
        },
        legend: {
            show: false,
            data: ['人流量']
        },
        calculable: true,
        xAxis: [{
            type: 'category',
            data: ['学生活动中心', '第三餐饮', '铁生馆', '光彪楼', '西区寝室', '东上院', '图书馆', '东中院', '东下院', '陈瑞球楼'],
            axisLabel: {
                margin: 12,
                textStyle: {
                    color: '#eee'
                },
            }
        }],
        yAxis: [{
            type: 'value',
            axisLabel: {
                margin: 12,
                textStyle: {
                    color: '#eee'
                }
            }
        }],
        series: [{
            name: '人流量',
            type: 'bar',
            data: [35, 89, 25, 12, 154, 225, 315, 410, 204, 125],
            markPoint: {
                data: [{
                    type: 'max',
                    name: '最大值'
                }, {
                    type: 'min',
                    name: '最小值'
                }]
            },
            markLine: {
                data: [{
                    type: 'average',
                    name: '平均值'
                }]
            }
        }]
    };
    distribution.setOption(option);

});
</script>