<script>
$(document).ready(function() {
    $('#nav-mobility').addClass('active');
    $('#header-right i').addClass('fa-group');
    $('#header-right span').text('实时监测');
});
</script>
<script src="__PUBLIC__/js/BMap.js"></script>
<style>
#mobility ul[role="tablist"] {
    margin-bottom: 30px;
}

#mobility #allmap {
    height: 400px;
    padding: 0 20px;
    margin-left: 30px;
}

#mobility #mobility-stat {
    height: 400px;
}

#mobility #mobility-stat #top5,
#mobility #mobility-stat #bottom5 {
    height: 185px;
}

#mobility #mobility-stat #top5 {
    margin-bottom: 30px;
}

#mobility #distribution {
    width: 100%;
    height: 300px;
    margin-top: 40px;
}
</style>
<div id="mobility">
    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#realtime-mobility" aria-controls="realtime-mobility" role="tab" data-toggle="tab">实时人群监测</a></li>
            <li role="presentation"><a href="#mobility-predict" aria-controls="mobility-predict" role="tab" data-toggle="tab">人群迁移趋势</a></li>
            <li role="presentation"><a href="#cater-predict" aria-controls="cater-predict" role="tab" data-toggle="tab">就餐人数预测</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="realtime-mobility">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                        <div id="allmap"></div>
                    </div>
                    <div id="mobility-stat" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div id="top5">
                        </div>
                        <div id="bottom5">
                        </div>
                    </div>
                </div>
                <div id="distribution">
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="mobility-predict">
                <div id="mobilitymap"></div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="cater-predict">...</div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    var map = new BMap.Map("allmap"); // 创建地图实例
    map.centerAndZoom(new BMap.Point(121.44821, 31.033276), 15); // 初始化地图，设置中心点坐标和地图级别
    map.enableScrollWheelZoom(); // 允许滚轮缩放 
    map.addControl(new BMap.NavigationControl());
    map.addControl(new BMap.ScaleControl({
        anchor: BMAP_ANCHOR_BOTTOM_RIGHT
    }));
    map.setCurrentCity("上海"); // 设置地图显示的城市 此项是必须设置的
    map.setMapStyle({
        style: "hardedge"
    });

    // 人流密集top5
    var top5 = echarts.init(document.getElementById('top5'), theme);
    option = {
        title: {
            text: 'TOP 5',
            backgroundColor: '#5a5',
            x: 'left',
            padding: [5, 10, 5, 10]
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            show: false,
            data: ['图书馆', '东中院', '东下院', '陈瑞球楼', '东上院'],
        },
        calculable: true,
        series: [{
            name: '人流量',
            type: 'pie',
            radius: '55%',
            center: ['50%', '60%'],
            data: [{
                value: 315,
                name: '图书馆'
            }, {
                value: 410,
                name: '东中院'
            }, {
                value: 204,
                name: '东下院'
            }, {
                value: 125,
                name: '陈瑞球楼'
            }, {
                value: 225,
                name: '东上院'
            }]
        }]
    };
    top5.setOption(option);

    // 人流密集bottom5
    var bottom5 = echarts.init(document.getElementById('bottom5'), theme);
    option = {
        title: {
            text: 'LAST 5',
            backgroundColor: '#5a5',
            x: 'left',
            padding: [5, 10, 5, 10]
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            show: false,
            data: ['学生活动中心', '第三餐饮', '铁生馆', '光彪楼', '西区寝室'],
        },
        calculable: true,
        series: [{
            name: '人流量',
            type: 'pie',
            radius: '55%',
            center: ['50%', '60%'],
            data: [{
                value: 35,
                name: '学生活动中心'
            }, {
                value: 89,
                name: '第三餐饮'
            }, {
                value: 25,
                name: '铁生馆'
            }, {
                value: 12,
                name: '光彪楼'
            }, {
                value: 154,
                name: '西区寝室'
            }]
        }],
        textStyle: {
            color: "#fff"
        }
    };
    bottom5.setOption(option);

    // 人流分布
    var distribution = echarts.init(document.getElementById('distribution'), theme);
    option = {
        title: {
            text: '人流分布',
            backgroundColor: '#5a5',
            x: 'left',
            padding: [5, 10, 5, 10]
        },
        tooltip: {
            trigger: 'shadow'
        },
        legend: {
            show: false,
            data: ['人流量']
        },
        calculable: true,
        xAxis: [{
            type: 'category',
            data: ['学生活动中心', '第三餐饮', '铁生馆', '光彪楼', '西区寝室', '东上院', '图书馆', '东中院', '东下院', '陈瑞球楼'],
            axisLabel: {
                margin: 12,
            }
        }],
        yAxis: [{
            type: 'value',
            axisLabel: {
                margin: 12,
            }
        }],
        series: [{
            name: '人流量',
            type: 'bar',
            data: [35, 89, 25, 12, 154, 225, 315, 410, 204, 125],
            itemStyle: {
                normal: {
                    color: '#4ea5ff'
                }
            },
            markPoint: {
                data: [{
                    type: 'max',
                    name: '最大值'
                }, {
                    type: 'min',
                    name: '最小值'
                }]
            },
            markLine: {
                data: [{
                    type: 'average',
                    name: '平均值'
                }]
            }
        }]
    };
    distribution.setOption(option);

    // 初始化地图
    

});
</script>