<script>
var userjs = eval('({$userjs})');
var tTraffic = eval('({$tTraffic})');
var yTraffic = eval('({$yTraffic})');
$(document).ready(function() {
    $('#nav-stat').addClass('active');
    $('#header-right i').addClass('fa-bar-chart');
    $('#header-right span').text('个人顾问');
});
</script>
<script src="__PUBLIC__/js/d3.v3.min.js"></script>
<style>
#stat #personal-info {
    height: 243px;
    background-color: #222;
    text-align: left;
    padding: 20px 30px;
}

#stat #personal-info .fa-male {
    position: absolute;
    font-size: 110px;
    color: rgb(54, 114, 205);
    right: 30px;
    top: 65px;
}

#stat #personal-info .fa-female {
    position: absolute;
    font-size: 110px;
    color: rgb(205, 54, 77);
    right: 30px;
    top: 65px;
}

#stat #summary-data {
    margin-top: 10px;
}

#stat #summary-data #SJTU {
    color: rgb(57, 168, 63);
    margin-left: 10px;
}

#stat #summary-data ul {
    list-style-type: none;
}

#stat #summary-data ul li {
    position: relative;
    margin-bottom: 3px;
    left: -30px;
    color: #999;
}

#stat #summary-data ul li .fa {
    margin-right: 5px;
}

#stat #summary-data ul li .number {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
}

#stat #summary-data p:first-child {
    font-size: 16px;
}

#stat #summary-data #since {
    position: absolute;
    right: 40px;
    bottom: 10px;
    font-size: 13px;
}

#stat #diligent-index {
    height: 243px;
    background-color: #222 !important;
}

.sorry {
    padding: 30px 40px;
}

.sorry p {
    font-size: 15px;
}

.sorry i {
    font-size: 90px;
    margin-top: 20px;
    color: #ccc;
}

#stat #friends {
    height: 243px;
    background-color: #222;
}

#stat #friends .node {
    stroke: #fff;
    stroke-width: 1.5px;
}

#stat #friends .link {
    stroke: #999;
    stroke-opacity: .6;
}

#stat #friends #legend {
    position: absolute;
    right: 40px;
    top: 50px;
}

#stat #friends #legend p {
    color: #bbb;
}

#stat #friends #legend span {
    margin-left: 10px;
    border-radius: 5px;
}

#stat #friends #points {
    position: absolute;
    left: 0;
}

#stat #cater-index {
    height: 300px;
    background-color: #222 !important;
}

#stat #cater-stat {
    position: absolute;
    bottom: 10px;
    left: 50px;
}

#stat #cater-stat p {
    color: #ddd;
    margin-bottom: 5px;
}

#stat #cater-stat span {
    font-size: 15px;
    color: rgb(231, 58, 58);
    margin-right: 3px;
    position: relative;
    top: 2px;
}

#stat #scores {
    height: 300px;
}

#stat #grade-predict {
    position: absolute;
    bottom: 0px;
    width: 160px;
    left: 50%;
    margin-left: -80px;
    font-size: 15px;
}

#stat #grade-predict span {
    font-size: 30px;
    color: red;
    margin-left: 5px;
    position: relative;
    top: 2px;
}

#stat #sleep-index {
    height: 250px;
    background-color: #222 !important;
}

#stat #sleep-stat {
    position: absolute;
    right: 35px;
    top: 110px;
    text-align: left;
}

#stat #sleep-stat span {
    color: rgb(90, 213, 111);
    font-size: 15px;
    margin-right: 3px;
    position: relative;
    top: 2px;
}

#stat #bath-index {
    height: 300px;
    background-color: #222 !important;
}

#stat #bath-stat {
    position: absolute;
    bottom: 10px;
    left: 50px;
    text-align: left;
}

#stat #bath-stat span {
    font-size: 18px;
    color: rgb(58, 159, 231);
    margin-right: 5px;
    position: relative;
    top: 2px;
}

#stat #gini-index {
    height: 250px;
    background-color: #222 !important;
}

#stat #my-focus {
    height: 250px;
    background-color: #222 !important;
}

#stat #my-evaluation {
    height: 250px;
    background-color: #222 !important;
    padding: 40px;
}

#stat #my-evaluation h3 {
    margin-top: 0px;
    margin-bottom: 20px;
    letter-spacing: 5px;
    color: rgb(240, 52, 52);
    font-size: 30px;
}

#stat #my-evaluation p {
    text-align: left;
    text-indent: 2em;
    line-height: 2;
}

#stat #my-recommendation {
    height: 250px;
    background-color: #222 !important;
    padding: 20px 20%;
}

#stat #my-recommendation h4 {
    margin-top: 0;
    padding-top: 25px;
    margin-bottom: 20px;
}

#stat #my-recommendation span {
    background-color: rgba(250, 250, 250, 0.9);
    color: #222;
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 2px 3px;
    display: block;
}
</style>
<div id="stat">
    <div class="row" style="margin-bottom:30px;">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <p class="plot-title">个人信息</p>
            <div id="personal-info">
                <p><span>学号：</span>{$user.id}</p>
                <p><span>类别：</span>{$user.degree}</p>
                <if condition="$user['gender'] eq '男'">
                    <i class="fa fa-fw fa-male"></i>
                    <else/>
                    <i class="fa fa-fw fa-female"></i>
                </if>
                <div id="summary-data">
                    <p style="margin-bottom: 5px;"><span class="male">我</span>一共在<span id="SJTU">交大</span></p>
                    <ul>
                        <li><span class="fa fa-fw fa-heart-o"></span>刷了<span class="number" style="color:rgb(62, 203, 176);">{$user.ecardCount}</span>次卡</li>
                        <li><span class="fa fa-fw fa-smile-o"></span>洗了<span class="number" style="color:rgb(203, 62, 185);">{$user.bath}</span>个澡</li>
                        <li><span class="fa fa-fw fa-wifi"></span>连了<span class="number" style="color:rgb(203, 126, 62)">{$user.wifiCount}</span>次网</li>
                        <li><span class="fa fa-fw fa-book"></span>借了<span class="number" style="color:rgb(173, 203, 62)"><?php echo rand(0,50)+15;?></span>本书</li>
                    </ul>
                    <p id="since"><i>Since <span id="entry-date">2014-09-01</span></i></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <p class="plot-title">勤奋得分</p>
            <div id="diligent-index">
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <p class="plot-title">我的朋友</p>
            <div id="friends">
                <div id="legend">
                    <p>男本科<span style="background-color:#74e3ea">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                    <p>男硕士<span style="background-color:#abbcf2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                    <p>男博士<span style="background-color:#3846FF">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                    <p>女本科<span style="background-color:#f97aef">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                    <p>女硕士<span style="background-color:#feb7a1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                    <p>女博士<span style="background-color:#f20000">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                </div>
                <div id="points"></div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:30px;">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <p class="plot-title">餐饮得分</p>
            <div id="cater-index"></div>
            <div id="cater-stat">
                <p>食堂就餐：<span id="cater-stat1">{$user.mensaCount}</span>次</p>
                <p>外卖就餐：<span id="cater-stat2">{$user.takeout}</span>次</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div id="scores"></div>
            <p id="grade-predict">成绩预测：<span>89</span></p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <p class="plot-title">清洁得分</p>
            <div id="bath-index"></div>
            <p id="bath-stat">洗澡平均
                <br><span><?php echo sprintf("%.2f", floatval($user['bath']) / 153);?></span>次/天</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <p class="plot-title">睡眠得分</p>
            <div id="sleep-index"></div>
            <if condition="$user['wifiCount'] gt 0">
                <div id="sleep-stat">
                    <p>熬夜次数：<span id="sleep-stat1">{$user.stayUp}</span>次</p>
                    <p>懒觉次数：<span id="sleep-stat2">{$user.lazy}</span>次</p>
                    <p>平均睡眠：<span id="sleep-stat3"><?php echo rand(0,50)/10 + 5;?></span>小时</p>
                </div>
            </if>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <p class="plot-title">生活得分</p>
            <div id="gini-index"></div>
        </div>
    </div>
    <div class="row" style="margin-top:30px;">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <p class="plot-title">我的关注</p>
            <div id="my-focus"></div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <p class="plot-title">个人评价</p>
            <div id="my-evaluation">
                <h3></h3>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <p class="plot-title">兴趣推荐</p>
            <div id="my-recommendation">
                <div style="float:left;">
                    <h4 style="color:rgb(89, 89, 255);">推荐好友</h4>
                    <span>2139589</span><span>9587287</span><span>1098276</span><span>8768162</span>
                </div>
                <div style="float:right;">
                    <h4 style="color:rgb(255, 89, 89);">推荐食堂</h4>
                    <span>绿园餐厅</span><span>上海快餐</span><span>教工餐厅</span><span>新疆餐厅</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    var width = 243,
        height = 243;
    var color = ['#74e3ea', '#abbcf2', '#3846FF', '#f97aef', '#feb7a1', '#f20000'];
    var force = d3.layout.force()
        .charge(-120)
        .linkDistance(30)
        .size([width, height]);
    var svg = d3.select("#points").append("svg")
        .attr("width", width)
        .attr("height", height);
    d3.json("{:U('Stat/friend')}", function(error, graph) {
        force
            .nodes(graph.nodes)
            .links(graph.links)
            .start();

        var link = svg.selectAll(".link")
            .data(graph.links)
            .enter().append("line")
            .attr("class", "link")
            .style("stroke-width", function(d) {
                return Math.sqrt(d.value);
            });

        var node = svg.selectAll(".node")
            .data(graph.nodes)
            .enter().append("circle")
            .attr("class", "node")
            .attr("r", 6)
            // .style("fill", function(d) { return color(d.group); })
            .style("fill", function(d) {
                return color[d.group - 1];
            })
            .call(force.drag);

        node.append("title")
            .text(function(d) {
                return d.name;
            });

        force.on("tick", function() {
            link.attr("x1", function(d) {
                    return d.source.x;
                })
                .attr("y1", function(d) {
                    return d.source.y;
                })
                .attr("x2", function(d) {
                    return d.target.x;
                })
                .attr("y2", function(d) {
                    return d.target.y;
                });

            node.attr("cx", function(d) {
                    return d.x;
                })
                .attr("cy", function(d) {
                    return d.y;
                });
        });
    });

    // 个人统计得分雷达图
    var cater_score, diligent_score, sleep_score, bath_score, gini_score, overall_score = 0,
        valid = 0;
    require(
        [
            'echarts',
            'echarts/chart/radar'
        ],
        function(ec) {
            var scores = ec.init(document.getElementById('scores'), theme);
            if (parseInt(userjs['ecard']) == 0) {
                gini_score = '';
            } else {
                gini_score = 100 - parseInt(parseInt(userjs['mensa']) * 30 / parseInt(userjs['ecard']));
                valid = valid + 1;
                overall_score = overall_score + gini_score;
            }
            if (parseInt(userjs['mensaCount']) + parseInt(userjs['takeout']) == 0) {
                cater_score = '';
            } else {
                cater_score = parseInt(parseInt(userjs['mensaCount']) * 100 / (parseInt(userjs['mensaCount']) + parseInt(userjs['takeout'])));
                valid = valid + 1;
                overall_score = overall_score + cater_score;
            }
            if (userjs['bathDay'] * 2 > 153) {
                bath_score = 100;
            } else {
                bath_score = parseInt(userjs['bathDay'] * 2 * 100 / 153);
            }
            if (parseInt(userjs['wifiCount']) == 0) {
                diligent_score = '';
            } else {
                diligent_score = parseInt((parseInt(userjs['wifiBuilding']) + parseInt(userjs['wifiLib'])) * 100 / (parseInt(userjs['wifiCount']) - parseInt(userjs['wifiMensa'])));
                valid = valid + 1;
                overall_score = overall_score + diligent_score;
            }
            if (parseInt(userjs['wifiCount']) == 0) {
                sleep_score = '';
            } else {
                sleep_score = 100 - userjs['stayUp'];
            }
            overall_score = parseInt(overall_score / valid);
            $('#grade-predict span').text(overall_score);

            option = {
                title: {
                    show: false
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    show: false,
                    data: ['个人得分']
                },
                polar: [{
                    indicator: [{
                        max: 100,
                        text: '勤奋得分',
                    }, {
                        max: 100,
                        text: '餐饮得分',
                    }, {
                        max: 100,
                        text: '睡眠得分',
                    }, {
                        max: 100,
                        text: '生活得分',
                    }, {
                        max: 100,
                        text: '清洁得分',
                    }],
                    splitNumber: 5,
                    type: 'circle',
                    scale: true,
                    radius: 80
                }],
                calculable: true,
                series: [{
                    name: '个人得分',
                    type: 'radar',
                    data: [{
                        value: [diligent_score, cater_score, sleep_score, gini_score, bath_score],
                        name: '个人得分'
                    }]
                }]
            };
            scores.setOption(option);

            //我的评价
            var evaluations = ['男神女神', '无敌学霸', '宅男宅女', '神秘人士', '人民群众'];
            var descriptions = ['他们气质非凡、优雅高贵，备受同学们的关注。他们有着规律良好的就餐和作息习惯，按时洗浴、爱逛超市，生活消费多样化、丰富多彩。', '他们专于学术，勤奋刻苦，选择用无言地努力换来所追求的目标。与其把时间花在别的事情上，他们更愿意全身心投入到学习和科研当中。', '他们喜欢安静地呆在自己的小空间中，不喜欢出门、不喜欢走动，宅在寝室或实验室里，安心地做着自己喜欢的事情便已足够。那吃饭问题怎么办？点外卖呗～', '他们行踪神秘，总是在你还未反应过来便已消失，却真实地留下来过的痕迹。他们现在在哪里？谁也不知道，包括无所不在的校园网和一卡通。', '他们是普通人民群众中的一员，是社会主义建设事业中一颗默默无闻的螺丝钉，他们吃饭、学习、睡觉，生活简单却不乏属于自己的精彩。']
            var evaluation = Math.floor(Math.random() * 4);
            $('#my-evaluation h3').text(evaluations[evaluation]);
            $('#my-evaluation p').text(descriptions[evaluation]);
        });

    // 勤奋系数
    if (userjs['wifiCount'] == 0) {
        $('#diligent-index').append($('<div class="sorry"><p>你都不用校园网</p><p>我咋知道你在哪里呢</p><i class="fa fa-fw fa-frown-o"></i></div>'));
    } else {
        require(
            [
                'echarts',
                'echarts/chart/pie'
            ],
            function(ec) {
                var diligent_index = ec.init(document.getElementById('diligent-index'), theme);
                option = {
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        data: ['教学楼', '食堂', '图书馆', '宿舍', '其他'],
                        x: 'center',
                        y: 'bottom',
                        padding: [5, 5, 15, 5]
                    },
                    calculable: true,
                    series: [{
                        name: '我在哪里',
                        type: 'pie',
                        radius: ['40%', '50%'],
                        center: ['50%', '42%'],
                        itemStyle: {
                            normal: {
                                label: {
                                    show: false
                                },
                                labelLine: {
                                    show: false
                                }
                            },
                            emphasis: {
                                label: {
                                    show: true,
                                    position: 'center',
                                    textStyle: {
                                        fontSize: '14',
                                        fontWeight: 'bold'
                                    }
                                }
                            }
                        },
                        data: [{
                            value: userjs['wifiBuilding'],
                            name: '教学楼'
                        }, {
                            value: userjs['wifiMensa'],
                            name: '食堂'
                        }, {
                            value: userjs['wifiLib'],
                            name: '图书馆'
                        }, {
                            value: userjs['wifiDormitory'],
                            name: '宿舍'
                        }, {
                            value: userjs['wifiOther'],
                            name: '其他'
                        }]
                    }]
                };
                diligent_index.setOption(option);
            });
    }

    // 餐饮系数
    require(
        [
            'echarts',
            'echarts/chart/gauge'
        ],
        function(ec) {
            var cater_index = ec.init(document.getElementById('cater-index'));
            option = {
                tooltip: {
                    formatter: "{a} <br/>{b} : {c}%"
                },
                series: [{
                    name: '食堂就餐比',
                    type: 'gauge',
                    center: ['50%', '45%'],
                    splitNumber: 10, // 分割段数，默认为5
                    axisLine: { // 坐标轴线
                        lineStyle: { // 属性lineStyle控制线条样式
                            color: [
                                [0.2, '#228b22'],
                                [0.8, '#48b'],
                                [1, '#ff4500']
                            ],
                            width: 8
                        }
                    },
                    axisTick: { // 坐标轴小标记
                        splitNumber: 10, // 每份split细分多少段
                        length: 10, // 属性length控制线长
                        lineStyle: { // 属性lineStyle控制线条样式
                            color: 'auto'
                        }
                    },
                    axisLabel: { // 坐标轴文本标签，详见axis.axisLabel
                        textStyle: { // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                            color: 'auto'
                        }
                    },
                    splitLine: { // 分隔线
                        show: true, // 默认显示，属性show控制显示与否
                        length: 20, // 属性length控制线长
                        lineStyle: { // 属性lineStyle（详见lineStyle）控制线条样式
                            color: 'auto'
                        }
                    },
                    pointer: {
                        width: 5
                    },
                    title: {
                        show: true,
                        x: 'center',
                        y: 'bottom',
                        textStyle: { // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                            fontWeight: 'bolder',
                            fontSize: 16,
                            color: '#eee'
                        },
                        offsetCenter: [0, '-10%'],
                    },
                    detail: {
                        formatter: '{value}%',
                        textStyle: { // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                            color: 'auto',
                            fontWeight: 'bolder'
                        },
                    },
                    data: [{
                        value: parseFloat(parseInt(userjs['mensaCount']) * 100 / (parseInt(userjs['mensaCount']) + parseInt(userjs['takeout']))).toFixed(1),
                        name: '食堂比例'
                    }]
                }]
            };
            cater_index.setOption(option);
        });

    // 清洁系数
    require(
        [
            'echarts',
            'echarts/chart/pie'
        ],
        function(ec) {
            var bath_index = ec.init(document.getElementById('bath-index'), theme);
            option = {
                title: {
                    show: false
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)天"
                },
                legend: {
                    show: false,
                    data: []
                },
                calculable: true,
                series: [{
                    name: '洗浴记录',
                    type: 'pie',
                    radius: '45%',
                    center: ['50%', '42%'],
                    data: [{
                        value: userjs['bathDay'],
                        name: '洗澡'
                    }, {
                        value: 153 - userjs['bathDay'],
                        name: '未洗澡'
                    }]
                }]
            };
            bath_index.setOption(option);
        });

    // 睡眠系数
    if (userjs['wifiCount'] == 0) {
        $('#sleep-index').append($('<div class="sorry"><p>你都不用校园网</p><p>我咋知道你的作息呢</p><i class="fa fa-fw fa-frown-o"></i></div>'));
    } else {
        require(
            [
                'echarts',
                'echarts/chart/line'
            ],
            function(ec) {
                var sleep_index = ec.init(document.getElementById('sleep-index'), theme);
                option = {
                    title: {
                        show: false
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: { // 坐标轴指示器，坐标轴触发有效
                            type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                        }
                    },
                    legend: {
                        data: ['昨日活跃', '今日活跃'],
                        x: 'left',
                        y: 'bottom',
                        padding: [5, 5, 15, 20]
                    },
                    calculable: true,
                    xAxis: [{
                        type: 'category',
                        boundaryGap: false,
                        data: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23']
                    }],
                    yAxis: [{
                        type: 'value',
                        axisLabel: {
                            formatter: '{value} MB'
                        }
                    }],
                    grid: {
                        y: 30,
                        y2: 70,
                        x: 80,
                        x2: 150
                    },
                    series: [{
                        name: '今日活跃',
                        type: 'line',
                        data: tTraffic,
                    }, {
                        name: '昨日活跃',
                        type: 'line',
                        data: yTraffic,
                    }]
                };

                sleep_index.setOption(option);
            });
    }
    // 恩格尔系数
    require(
        [
            'echarts',
            'echarts/chart/pie'
        ],
        function(ec) {
            var gini_index = ec.init(document.getElementById('gini-index'), theme);
            option = {
                title: {
                    show: false
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    x: 'left',
                    y: 'center',
                    padding: [5, 5, 5, 30],
                    data: ['餐饮', '水果', '咖啡', '活动', '超市', '其他']
                },
                calculable: true,
                series: [{
                    name: '消费分布',
                    type: 'pie',
                    radius: [10, 70],
                    center: ['55%', '50%'],
                    roseType: 'radius',
                    // width: '20%', // for funnel
                    // max: 40, // for funnel

                    data: [{
                        value: parseInt(userjs['mensa'] / 100),
                        name: '餐饮'
                    }, {
                        value: parseInt(userjs['supermarket'] / 100),
                        name: '超市'
                    }, {
                        value: parseInt(userjs['fruit'] / 100),
                        name: '水果'
                    }, {
                        value: parseInt(userjs['coffee'] / 100),
                        name: '咖啡'
                    }, {
                        value: parseInt(userjs['activity'] / 100),
                        name: '活动'
                    }, {
                        value: parseInt(userjs['other'] / 100),
                        name: '其他'
                    }]
                }]
            };
            gini_index.setOption(option);
        });

    // 我的关注
    if (userjs['wifiCount'] == 0) {
        $('#my-focus').append($('<div class="sorry"><p>你都不用校园网</p><p>我咋知道你关注啥呢</p><i class="fa fa-fw fa-frown-o"></i></div>'));
    } else {
        require(
            [
                'echarts',
                'echarts/chart/wordCloud'
            ],
            function(ec) {
                var my_focus = ec.init(document.getElementById('my-focus'));

                function createRandomItemStyle() {
                    return {
                        normal: {
                            color: color[Math.floor(Math.random() * 6)]
                        }
                    };
                }

                var tags = userjs['tags'].split(',');
                var data = [];
                for (var i = tags.length - 1; i >= 0; i--) {
                    var tag = tags[i].split(':');
                    if (!isNaN(tag[0][tag[0].length - 1])) {
                        tag[0] = tag[0].substr(0, tag[0].length - 1);
                    }
                    if (tag[0].indexOf('服务器') >= 0) {
                        tag[0] = tag[0].substring(0, tag[0].indexOf('服务器'));
                    }
                    data.push({
                        name: tag[0],
                        value: parseInt(tag[1]),
                        itemStyle: createRandomItemStyle()
                    });
                }
                option = {
                    title: {
                        show: false
                    },
                    tooltip: {
                        show: true
                    },
                    series: [{
                        name: '我的关注',
                        type: 'wordCloud',
                        size: ['90%', '90%'],
                        textRotation: [0, 0],
                        textPadding: 0,
                        autoSize: {
                            enable: true,
                            minSize: 12
                        },
                        data: data
                    }]
                };

                my_focus.setOption(option);
            });
    }
});
</script>