<script>
$(document).ready(function() {
    $('#nav-stat').addClass('active');
    $('#header-right i').addClass('fa-bar-chart');
    $('#header-right span').text('个人顾问');
});
</script>
<script src="__PUBLIC__/js/d3.v3.min.js"></script>
<style>
#stat #personal-info {
    height: 243px;
    background-color: #222;
    text-align: left;
    padding: 20px 30px;
}

#stat #personal-info .fa-male {
    position: absolute;
    font-size: 100px;
    color: rgb(54, 114, 205);
    right: 30px;
    top: 51px;
}

#stat #personal-info .male {
    color: rgb(54, 114, 205);
    margin-right: 10px;
}

#stat #personal-info .female {
    color: rgb(205, 54, 77);
    margin-right: 10px;
}

#stat #personal-info .fa-female {
    position: absolute;
    font-size: 90px;
    color: rgb(205, 54, 77);
    right: 30px;
    top: 51px;
}

#stat #summary-data {
    margin-top: 15px;
}

#stat #summary-data #SJTU {
    color: rgb(57, 168, 63);
    margin-left: 10px;
}

#stat #summary-data ul {
    list-style-type: none;
}

#stat #summary-data ul li {
    position: relative;
    margin-bottom: 5px;
    left: -30px;
    color: #999;
}

#stat #summary-data ul li .fa {
    margin-right: 5px;
}

#stat #summary-data ul li .number {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
}

#stat #summary-data p:first-child {
    font-size: 16px;
}

#stat #summary-data #since {
    position: absolute;
    right: 40px;
    bottom: 10px;
    font-size: 13px;
}

#stat #diligent-index {
    height: 243px;
    background-color: #222 !important;
}

#stat #friends {
    height: 243px;
    background-color: #222;
}

#stat #friends .node {
    stroke: #fff;
    stroke-width: 1.5px;
}

#stat #friends .link {
    stroke: #999;
    stroke-opacity: .6;
}

#stat #friends #legend {
    position: absolute;
    right: 40px;
    top: 50px;
}

#stat #friends #legend p {
    color: #bbb;
}

#stat #friends #legend span {
    margin-left: 10px;
    border-radius: 5px;
}

#stat #friends #points {
    position: absolute;
    left: 0;
}

#stat #cater-index {
    height: 300px;
    background-color: #222 !important;
}

#stat #cater-stat {
    position: absolute;
    bottom: 10px;
    left: 50px;
}

#stat #cater-stat p {
    color: #ddd;
    margin-bottom: 5px;
}

#stat #cater-stat span {
    font-size: 15px;
    color: rgb(231, 58, 58);
    margin-right: 3px;
    position: relative;
    top: 2px;
}

#stat #scores {
    height: 300px;
}

#stat #grade-predict {
    position: absolute;
    bottom: 0px;
    width: 160px;
    left: 50%;
    margin-left: -80px;
    font-size: 15px;
}

#stat #grade-predict span {
    font-size: 30px;
    color: red;
    margin-left: 5px;
    position: relative;
    top: 2px;
}

#stat #sleep-index {
    height: 250px;
    background-color: #222 !important;
}

#stat #sleep-stat {
    position: absolute;
    right: 35px;
    top: 110px;
    text-align: left;
}

#stat #sleep-stat span {
    color: rgb(90, 213, 111);
    font-size: 15px;
    margin-right: 3px;
    position: relative;
    top: 2px;
}

#stat #bath-index {
    height: 300px;
    background-color: #222 !important;
}

#stat #bath-stat {
    position: absolute;
    bottom: 10px;
    left: 50px;
    text-align: left;
}

#stat #bath-stat span {
    font-size: 18px;
    color: rgb(58, 159, 231);
    margin-right: 5px;
    position: relative;
    top: 2px;
}

#stat #gini-index {
    height: 250px;
    background-color: #222 !important;
}

#stat #my-focus {
    height: 250px;
    background-color: #222 !important;
}

#stat #my-evaluation {
    height: 250px;
    background-color: #222 !important;
}

#stat #my-recommendation {
    height: 250px;
    background-color: #222 !important;
}
</style>
<div id="stat">
    <div class="row" style="margin-bottom:30px;">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <p class="plot-title">个人信息</p>
            <div id="personal-info">
                <p><span>学号：</span>1234567890</p>
                <p><span>类别：</span>博士生</p>
                <i class="fa fa-fw fa-male"></i>
                <div id="summary-data">
                    <p><span class="male">我</span>一共在<span id="SJTU">交大</span></p>
                    <ul>
                        <li><span class="fa fa-fw fa-heart-o"></span>吃了<span class="number" style="color:rgb(62, 203, 176);">699</span>顿饭</li>
                        <li><span class="fa fa-fw fa-smile-o"></span>洗了<span class="number" style="color:rgb(203, 62, 185);">132</span>个澡</li>
                        <li><span class="fa fa-fw fa-wifi"></span>连了<span class="number" style="color:rgb(203, 126, 62)">3221</span>次网</li>
                    </ul>
                    <p id="since"><i>Since <span id="entry-date">2014-09-01</span></i></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <p class="plot-title">勤奋系数</p>
            <div id="diligent-index">
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <p class="plot-title">我的朋友</p>
            <div id="friends">
                <div id="legend">
                    <p>男本科<span style="background-color:#74e3ea">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                    <p>男硕士<span style="background-color:#abbcf2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                    <p>男博士<span style="background-color:#0011f2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                    <p>女本科<span style="background-color:#f97aef">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                    <p>女硕士<span style="background-color:#feb7a1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                    <p>女博士<span style="background-color:#f20000">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                </div>
                <div id="points"></div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:30px;">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <p class="plot-title">餐饮系数</p>
            <div id="cater-index"></div>
            <div id="cater-stat">
                <p>食堂就餐：<span id="cater-stat1">678</span>次</p>
                <p>外卖就餐：<span id="cater-stat2">235</span>次</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div id="scores"></div>
            <p id="grade-predict">成绩预测：<span>89</span></p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <p class="plot-title">清洁系数</p>
            <div id="bath-index"></div>
            <p id="bath-stat">洗澡平均
                <br><span>3.45</span>天/次</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <p class="plot-title">睡眠系数</p>
            <div id="sleep-index"></div>
            <div id="sleep-stat">
                <p>熬夜次数：<span id="sleep-stat1">124</span>次</p>
                <p>懒觉次数：<span id="sleep-stat2">67</span>次</p>
                <p>平均睡眠：<span id="sleep-stat3">7.4</span>小时</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <p class="plot-title">基尼系数</p>
            <div id="gini-index"></div>
        </div>
    </div>
    <div class="row" style="margin-top:30px;">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <p class="plot-title">我的关注</p>
            <div id="my-focus"></div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <p class="plot-title">个人评价</p>
            <div id="my-evaluation"></div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <p class="plot-title">兴趣推荐</p>
            <div id="my-recommendation"></div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    var width = 243,
        height = 243;
    var color = ['#74e3ea', '#abbcf2', '#0011f2', '#f97aef', '#feb7a1', '#f20000'];
    var force = d3.layout.force()
        .charge(-120)
        .linkDistance(30)
        .size([width, height]);
    var svg = d3.select("#points").append("svg")
        .attr("width", width)
        .attr("height", height);
    d3.json(PUBLIC + "/link.json", function(error, graph) {
        force
            .nodes(graph.nodes)
            .links(graph.links)
            .start();

        var link = svg.selectAll(".link")
            .data(graph.links)
            .enter().append("line")
            .attr("class", "link")
            .style("stroke-width", function(d) {
                return Math.sqrt(d.value);
            });

        var node = svg.selectAll(".node")
            .data(graph.nodes)
            .enter().append("circle")
            .attr("class", "node")
            .attr("r", 6)
            // .style("fill", function(d) { return color(d.group); })
            .style("fill", function(d) {
                return color[d.group - 1];
            })
            .call(force.drag);

        node.append("title")
            .text(function(d) {
                return d.name;
            });

        force.on("tick", function() {
            link.attr("x1", function(d) {
                    return d.source.x;
                })
                .attr("y1", function(d) {
                    return d.source.y;
                })
                .attr("x2", function(d) {
                    return d.target.x;
                })
                .attr("y2", function(d) {
                    return d.target.y;
                });

            node.attr("cx", function(d) {
                    return d.x;
                })
                .attr("cy", function(d) {
                    return d.y;
                });
        });
    });

    // 个人统计得分雷达图
    require(
        [
            'echarts',
            'echarts/chart/radar'
        ],
        function(ec) {
            var scores = ec.init(document.getElementById('scores'), theme);
            option = {
                title: {
                    show: false
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    show: false,
                    data: ['个人得分']
                },
                polar: [{
                    indicator: [{
                        max: 100,
                        text: '勤奋系数',
                    }, {
                        max: 100,
                        text: '餐饮系数',
                    }, {
                        max: 100,
                        text: '睡眠系数',
                    }, {
                        max: 100,
                        text: '基尼系数',
                    }, {
                        max: 100,
                        text: '清洁系数',
                    }],
                    splitNumber: 5,
                    // type: 'circle',
                    scale: true,
                    radius: 80
                }],
                calculable: true,
                series: [{
                    name: '个人得分',
                    type: 'radar',
                    data: [{
                        value: [68, 85, 73, 91, 88],
                        name: '个人得分'
                    }]
                }]
            };
            scores.setOption(option);
        });

    // 勤奋系数
    require(
        [
            'echarts',
            'echarts/chart/pie'
        ],
        function(ec) {
            var diligent_index = ec.init(document.getElementById('diligent-index'), theme);
            option = {
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    data: ['网络信息中心', '东上院', '学生寝室', '图书馆', '其他'],
                    x: 'center',
                    y: 'bottom'
                },
                calculable: true,
                series: [{
                    name: '我在哪里',
                    type: 'pie',
                    radius: ['40%', '50%'],
                    center: ['50%', '42%'],
                    itemStyle: {
                        normal: {
                            label: {
                                show: false
                            },
                            labelLine: {
                                show: false
                            }
                        },
                        emphasis: {
                            label: {
                                show: true,
                                position: 'center',
                                textStyle: {
                                    fontSize: '14',
                                    fontWeight: 'bold'
                                }
                            }
                        }
                    },
                    data: [{
                        value: 0.5,
                        name: '网络信息中心'
                    }, {
                        value: 0.1,
                        name: '东上院'
                    }, {
                        value: 0.1,
                        name: '学生寝室'
                    }, {
                        value: 0.1,
                        name: '图书馆'
                    }, {
                        value: 0.2,
                        name: '其他'
                    }]
                }]
            };
            diligent_index.setOption(option);
        });

    // 餐饮系数
    require(
        [
            'echarts',
            'echarts/chart/gauge'
        ],
        function(ec) {
            var cater_index = ec.init(document.getElementById('cater-index'));
            option = {
                tooltip: {
                    formatter: "{a} <br/>{b} : {c}%"
                },
                series: [{
                    name: '食堂就餐比',
                    type: 'gauge',
                    center: ['50%', '45%'],
                    splitNumber: 10, // 分割段数，默认为5
                    axisLine: { // 坐标轴线
                        lineStyle: { // 属性lineStyle控制线条样式
                            color: [
                                [0.2, '#228b22'],
                                [0.8, '#48b'],
                                [1, '#ff4500']
                            ],
                            width: 8
                        }
                    },
                    axisTick: { // 坐标轴小标记
                        splitNumber: 10, // 每份split细分多少段
                        length: 10, // 属性length控制线长
                        lineStyle: { // 属性lineStyle控制线条样式
                            color: 'auto'
                        }
                    },
                    axisLabel: { // 坐标轴文本标签，详见axis.axisLabel
                        textStyle: { // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                            color: 'auto'
                        }
                    },
                    splitLine: { // 分隔线
                        show: true, // 默认显示，属性show控制显示与否
                        length: 20, // 属性length控制线长
                        lineStyle: { // 属性lineStyle（详见lineStyle）控制线条样式
                            color: 'auto'
                        }
                    },
                    pointer: {
                        width: 5
                    },
                    title: {
                        show: true,
                        x: 'center',
                        y: 'bottom',
                        textStyle: { // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                            fontWeight: 'bolder',
                            fontSize: 16,
                            color: '#eee'
                        },
                        offsetCenter: [0, '-10%'],
                    },
                    detail: {
                        formatter: '{value}%',
                        textStyle: { // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                            color: 'auto',
                            fontWeight: 'bolder'
                        },
                    },
                    data: [{
                        value: 74.3,
                        name: '食堂比例'
                    }]
                }]
            };
            cater_index.setOption(option);
        });

    // 清洁系数
    require(
        [
            'echarts',
            'echarts/chart/pie'
        ],
        function(ec) {
            var bath_index = ec.init(document.getElementById('bath-index'), theme);
            option = {
                title: {
                    show: false
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)天"
                },
                legend: {
                    show: false,
                    data: []
                },
                calculable: true,
                series: [{
                    name: '洗浴记录',
                    type: 'pie',
                    radius: '45%',
                    center: ['50%', '42%'],
                    data: [{
                        value: 245,
                        name: '洗澡'
                    }, {
                        value: 545,
                        name: '未洗澡'
                    }]
                }]
            };
            bath_index.setOption(option);
        });

    // 睡眠系数
    require(
        [
            'echarts',
            'echarts/chart/line'
        ],
        function(ec) {
            var sleep_index = ec.init(document.getElementById('sleep-index'), theme);
            option = {
                title: {
                    show: false
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['昨日活跃', '今日活跃'],
                    x: 'left',
                    y: 'bottom',
                    padding: [5, 5, 15, 15]
                },
                calculable: true,
                xAxis: [{
                    type: 'category',
                    boundaryGap: false,
                    data: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23']
                }],
                yAxis: [{
                    type: 'value',
                    axisLabel: {
                        formatter: '{value}'
                    }
                }],
                grid: {
                    y: 30,
                    y2: 70,
                    x: 60,
                    x2: 150
                },
                series: [{
                    name: '今日活跃',
                    type: 'line',
                    data: [40, 10, 0, 0, 0, 0, 0, 0, 14, 56, 90, 12, 24, 0, 0, 12, 56, 78, 12, 56, 89, 123, 134, 110],
                }, {
                    name: '昨日活跃',
                    type: 'line',
                    data: [0, 0, 0, 0, 0, 0, 0, 15, 24, 34, 12, 45, 23, 12, 6, 56, 65, 63, 23, 12, 94, 102, 142, 56],
                }]
            };

            sleep_index.setOption(option);
        });

    // 基尼系数
    require(
        [
            'echarts',
            'echarts/chart/pie'
        ],
        function(ec) {
            var gini_index = ec.init(document.getElementById('gini-index'), theme);
            option = {
                title: {
                    show: false
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    x: 'left',
                    y: 'center',
                    padding: [5, 5, 5, 30],
                    data: ['餐饮', '水果', '咖啡', '活动', '超市']
                },
                calculable: true,
                series: [{
                    name: '消费分布',
                    type: 'pie',
                    radius: [10, 70],
                    center: ['55%', '50%'],
                    roseType: 'area',
                    // width: '20%', // for funnel
                    // max: 40, // for funnel

                    data: [{
                        value: 3281,
                        name: '餐饮'
                    }, {
                        value: 239,
                        name: '水果'
                    }, {
                        value: 89,
                        name: '咖啡'
                    }, {
                        value: 39,
                        name: '活动'
                    }, {
                        value: 490,
                        name: '超市'
                    }]
                }]
            };
            gini_index.setOption(option);
        });

    // 我的关注
    require(
        [
            'echarts',
            'echarts/chart/wordCloud'
        ],
        function(ec) {
            var my_focus = ec.init(document.getElementById('my-focus'));

            function createRandomItemStyle() {
                return {
                    normal: {
                        color: color[Math.floor(Math.random() * 6)]
                    }
                };
            }

            option = {
                title: {
                    show: false
                },
                tooltip: {
                    show: true
                },
                series: [{
                    name: '我的关注',
                    type: 'wordCloud',
                    size: ['80%', '80%'],
                    textRotation: [0, 45, 90, -45],
                    textPadding: 0,
                    autoSize: {
                        enable: true,
                        minSize: 14
                    },
                    data: [{
                        name: "Sam S Club",
                        value: 10000,
                        itemStyle: createRandomItemStyle()
                    }, {
                        name: "Macys",
                        value: 6181,
                        itemStyle: createRandomItemStyle()
                    }, {
                        name: "Amy Schumer",
                        value: 4386,
                        itemStyle: createRandomItemStyle()
                    }, {
                        name: "Jurassic World",
                        value: 4055,
                        itemStyle: createRandomItemStyle()
                    }, {
                        name: "Charter Communications",
                        value: 2467,
                        itemStyle: createRandomItemStyle()
                    }, {
                        name: "Chick Fil A",
                        value: 2244,
                        itemStyle: createRandomItemStyle()
                    }, {
                        name: "Planet Fitness",
                        value: 1898,
                        itemStyle: createRandomItemStyle()
                    }, {
                        name: "Pitch Perfect",
                        value: 1484,
                        itemStyle: createRandomItemStyle()
                    }, {
                        name: "Express",
                        value: 1112,
                        itemStyle: createRandomItemStyle()
                    }, {
                        name: "Home",
                        value: 965,
                        itemStyle: createRandomItemStyle()
                    }, {
                        name: "Johnny Depp",
                        value: 847,
                        itemStyle: createRandomItemStyle()
                    }, {
                        name: "Lena Dunham",
                        value: 582,
                        itemStyle: createRandomItemStyle()
                    }, {
                        name: "Lewis Hamilton",
                        value: 555,
                        itemStyle: createRandomItemStyle()
                    }, {
                        name: "KXAN",
                        value: 550,
                        itemStyle: createRandomItemStyle()
                    }, {
                        name: "Mary Ellen Mark",
                        value: 462,
                        itemStyle: createRandomItemStyle()
                    }, {
                        name: "Farrah Abraham",
                        value: 366,
                        itemStyle: createRandomItemStyle()
                    }, {
                        name: "Rita Ora",
                        value: 360,
                        itemStyle: createRandomItemStyle()
                    }, {
                        name: "Serena Williams",
                        value: 282,
                        itemStyle: createRandomItemStyle()
                    }, {
                        name: "NCAA baseball tournament",
                        value: 273,
                        itemStyle: createRandomItemStyle()
                    }, {
                        name: "Point Break",
                        value: 265,
                        itemStyle: createRandomItemStyle()
                    }]
                }]
            };

            my_focus.setOption(option);
        });
});
</script>