<script src="__PUBLIC__/js/highcharts/highcharts.js"></script>
<script src="__PUBLIC__/js/highcharts/highcharts-more.js"></script>
<script src="__PUBLIC__/js/highcharts/exporting.js"></script>
<script src="__PUBLIC__/js/highcharts/data.js"></script>
<script>
$(document).ready(function() {
    $('#nav-affair').addClass('active');
    $('#header-right i').addClass('fa-graduation-cap');
    $('#header-right span').text('学务管理');
});

var tagTypeBoy = eval('{$tagTypeBoy}');
var tagTypeGirl = eval('{$tagTypeGirl}');
var trafficTimezone = eval('({$trafficTimezone})');
var bathStat = eval('({$bathStat})');
var bathRealtime = eval('({$bathRealtime})');
var students = eval('({$students})');

var tagIndex = 0;
var tags = [];
for (var i = 0; i <= tagTypeBoy.length - 1; i++) {
    tags.push(tagTypeBoy[i]['tag']);
}
var tagType = tags[tagIndex];
var tagTypeBoyRecord = '';
var tagTypeGirlRecord = '';
for (var i = 0; i <= tagTypeBoy.length - 1; i++) {
    if (tagTypeBoy[i]['tag'] == tagType) {
        tagTypeBoyRecord = tagTypeBoy[i];
        break;
    }
}
for (var i = 0; i <= tagTypeGirl.length - 1; i++) {
    if (tagTypeGirl[i]['tag'] == tagType) {
        tagTypeGirlRecord = tagTypeGirl[i];
        break;
    }
}
</script>
<style>
#affair #girl-tag {
    height: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#affair #boy-tag {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 300px;
}

#affair #tags {
    position: relative;
}

#affair #tags #hot-tags {
    margin-bottom: 10px;
    text-align: left;
    margin-left: 25px;
}

#affair #tags #hot-tags h4 {
    display: inline-block;
}

#affair #tags #hot-tags p {
    cursor: pointer;
    display: inline-block;
    padding: 4px 6px;
    background-color: rgba(226, 122, 84, 0.9);
    color: #f5f5f5;
    margin: 5px 3px;
    border-radius: 2px;
    float: right;
    margin-right: 25px;
}

#affair #tags #hot-tags p:hover {
    color: #050505;
    background-color: #f5f5f5;
}

#affair #tags #all-tags {
    position: absolute;
    width: 90%;
    left: 50%;
    margin-left: -45%;
    background-color: rgba(240, 240, 240, 0.8);
    color: #111;
    text-align: left;
    padding: 10px;
    z-index: 999;
    text-align: center;
    border-radius: 5px;
    display: none;
}

#affair #tags #all-tags p {
    cursor: pointer;
    display: inline-block;
    padding: 4px 6px;
    background-color: rgba(226, 122, 84, 0.9);
    color: #f5f5f5;
    margin: 5px 3px;
    border-radius: 2px;
}

#affair #tags #all-tags p:hover {
    color: #050505;
    background-color: #f5f5f5;
}

#affair #tags #tags-plot {
    height: 250px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #222 !important;
}

#affair #undergraduate,
#affair #master,
#affair #doctor {
    height: 300px;
    background-color: #222 !important;
}

#affair #scatter-plot {
    height: 300px;
    background-color: #222 !important;
}

#affair #bath-distribution {
    height: 300px;
    background-color: #222 !important;
    position: relative;
}

#affair #bath-control {
    position: absolute;
    right: 25px;
    top: 45px;
    cursor: default;
}

#affair #bath-control span {
    cursor: pointer;
    padding: 4px 6px;
    color: #050505;
    background-color: #f5f5f5;
    margin: 5px 2px;
    border-radius: 2px;
}

#affair #bath-control span.active {
    cursor: default;
    background-color: rgba(226, 122, 84, 0.9);
    color: #f5f5f5;
}

.highcharts-button {
    display: none;
}
</style>
<div id="affair">
    <div class="row" style="margin-bottom:30px;">
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
            <img src="__PUBLIC__/img/girl.png" id="girl-tag">
        </div>
        <div id="tags" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div id="hot-tags">
                <h4>Wifi数据类型</h4>
                <p>休闲娱乐</p>
            </div>
            <div id="all-tags">
                <foreach name='tags' item='v'>
                    <p>{$v.tag}</p>
                </foreach>
            </div>
            <p class="plot-title" style="width:90%;margin-right:5%;margin-left:5%;">不同年级关注度</p>
            <div id="tags-plot"></div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
            <img src="__PUBLIC__/img/boy.png" id="boy-tag">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <p class="plot-title">本科生流量时域分布</p>
            <div id="undergraduate"></div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <p class="plot-title">硕士生流量时域分布</p>
            <div id="master"></div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <p class="plot-title">博士生流量时域分布</p>
            <div id="doctor"></div>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class='col-xs-12 col-sm-6 col-md-6 col-lg-6'>
            <p class="plot-title">Wifi V.S. 一卡通</p>
            <div id="scatter-plot"></div>
        </div>
        <div class='col-xs-12 col-sm-6 col-md-6 col-lg-6'>
            <p class="plot-title">浴室人流预测</p>
            <div id="bath-distribution"></div>
            <div id="bath-control">
                <span class="active" id="bath-realtime">实时</span>
                <span id="bath-history">预测</span>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    // 流量类别分布
    require(
        [
            'echarts',
            'echarts/chart/line',
        ],
        function(ec) {
            var tags_plot = ec.init(document.getElementById('tags-plot'), theme);
            option = {
                title: {
                    show: false
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['男', '女'],
                    padding: [10, 5, 10, 5]
                },
                calculable: true,
                xAxis: [{
                    type: 'category',
                    data: ['大一', '大二', '大三', '大四', '研一', '研二', '研三', '博一', '博二', '博三', '博四', '博五']
                }],
                yAxis: [{
                    type: 'value',
                    axisLabel: {
                        formatter: '{value}'
                    }
                }],
                grid: {
                    x: 60,
                    x2: 30,
                    y: 40,
                    y2: 40
                },
                series: [{
                    name: '男',
                    type: 'line',
                    data: [(tagTypeBoyRecord['ug1'] / 2507.0).toFixed(3), (tagTypeBoyRecord['ug2'] / 2628.0).toFixed(3), (tagTypeBoyRecord['ug3'] / 2239.0).toFixed(3), (tagTypeBoyRecord['ug4'] / 2099.0).toFixed(3), (tagTypeBoyRecord['mt1'] / 2323.0).toFixed(3), (tagTypeBoyRecord['mt2'] / 2129.0).toFixed(3), (tagTypeBoyRecord['mt3'] / 1881.0).toFixed(3), (tagTypeBoyRecord['doc1'] / 729.0).toFixed(3), (tagTypeBoyRecord['doc2'] / 557.0).toFixed(3), (tagTypeBoyRecord['doc3'] / 644.0).toFixed(3), (tagTypeBoyRecord['doc4'] / 570.0).toFixed(3), (tagTypeBoyRecord['doc5'] / 491.0).toFixed(3)],
                }, {
                    name: '女',
                    type: 'line',
                    data: [(tagTypeGirlRecord['ug1'] / 1322.0).toFixed(3), (tagTypeGirlRecord['ug2'] / 1288.0).toFixed(3), (tagTypeGirlRecord['ug3'] / 1339.0).toFixed(3), (tagTypeGirlRecord['ug4'] / 999.0).toFixed(3), (tagTypeGirlRecord['mt1'] / 1617.0).toFixed(3), (tagTypeGirlRecord['mt2'] / 1212.0).toFixed(3), (tagTypeGirlRecord['mt3'] / 1065.0).toFixed(3), (tagTypeGirlRecord['doc1'] / 371.0).toFixed(3), (tagTypeGirlRecord['doc2'] / 249.0).toFixed(3), (tagTypeGirlRecord['doc3'] / 301.0).toFixed(3), (tagTypeGirlRecord['doc4'] / 210.0).toFixed(3), (tagTypeGirlRecord['doc5'] / 208.0).toFixed(3)],
                }]
            };
            tags_plot.setOption(option);
        });

    var tagHasInterval = true;
    var tagTypeInterval = setInterval(function() {
        tagIndex = (tagIndex + 1) % tags.length;
        tagType = tags[tagIndex];
        for (var i = 0; i <= tagTypeBoy.length - 1; i++) {
            if (tagTypeBoy[i]['tag'] == tagType) {
                tagTypeBoyRecord = tagTypeBoy[i];
                break;
            }
        }
        for (var i = 0; i <= tagTypeGirl.length - 1; i++) {
            if (tagTypeGirl[i]['tag'] == tagType) {
                tagTypeGirlRecord = tagTypeGirl[i];
                break;
            }
        }

        $('#affair #tags #hot-tags p').text(tagType);

        require(
            [
                'echarts',
                'echarts/chart/line',
            ],
            function(ec) {
                var tags_plot = ec.init(document.getElementById('tags-plot'), theme);
                option = {
                    title: {
                        show: false
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: ['男', '女'],
                        padding: [10, 5, 10, 5]
                    },
                    calculable: true,
                    xAxis: [{
                        type: 'category',
                        data: ['大一', '大二', '大三', '大四', '研一', '研二', '研三', '博一', '博二', '博三', '博四', '博五']
                    }],
                    yAxis: [{
                        type: 'value',
                        axisLabel: {
                            formatter: '{value}'
                        }
                    }],
                    grid: {
                        x: 60,
                        x2: 30,
                        y: 40,
                        y2: 40
                    },
                    series: [{
                        name: '男',
                        type: 'line',
                        data: [(tagTypeBoyRecord['ug1'] / 2507.0).toFixed(3), (tagTypeBoyRecord['ug2'] / 2628.0).toFixed(3), (tagTypeBoyRecord['ug3'] / 2239.0).toFixed(3), (tagTypeBoyRecord['ug4'] / 2099.0).toFixed(3), (tagTypeBoyRecord['mt1'] / 2323.0).toFixed(3), (tagTypeBoyRecord['mt2'] / 2129.0).toFixed(3), (tagTypeBoyRecord['mt3'] / 1881.0).toFixed(3), (tagTypeBoyRecord['doc1'] / 729.0).toFixed(3), (tagTypeBoyRecord['doc2'] / 557.0).toFixed(3), (tagTypeBoyRecord['doc3'] / 644.0).toFixed(3), (tagTypeBoyRecord['doc4'] / 570.0).toFixed(3), (tagTypeBoyRecord['doc5'] / 491.0).toFixed(3)],
                    }, {
                        name: '女',
                        type: 'line',
                        data: [(tagTypeGirlRecord['ug1'] / 1322.0).toFixed(3), (tagTypeGirlRecord['ug2'] / 1288.0).toFixed(3), (tagTypeGirlRecord['ug3'] / 1339.0).toFixed(3), (tagTypeGirlRecord['ug4'] / 999.0).toFixed(3), (tagTypeGirlRecord['mt1'] / 1617.0).toFixed(3), (tagTypeGirlRecord['mt2'] / 1212.0).toFixed(3), (tagTypeGirlRecord['mt3'] / 1065.0).toFixed(3), (tagTypeGirlRecord['doc1'] / 371.0).toFixed(3), (tagTypeGirlRecord['doc2'] / 249.0).toFixed(3), (tagTypeGirlRecord['doc3'] / 301.0).toFixed(3), (tagTypeGirlRecord['doc4'] / 210.0).toFixed(3), (tagTypeGirlRecord['doc5'] / 208.0).toFixed(3)],
                    }]
                };
                tags_plot.setOption(option);
            });
    }, 8000);

    $('#affair #tags #hot-tags p').click(function() {
        $('#affair #tags #all-tags').fadeIn(300);
    });
    $('#affair #tags #all-tags p').click(function() {
        tagType = $(this).text();
        $('#affair #tags #hot-tags p').text(tagType);
        $('#affair #tags #all-tags').fadeOut(300);
        clearInterval(tagTypeInterval);
        tagHasInterval = false;

        for (var i = 0; i <= tagTypeBoy.length - 1; i++) {
            if (tagTypeBoy[i]['tag'] == tagType) {
                tagTypeBoyRecord = tagTypeBoy[i];
                break;
            }
        }
        for (var i = 0; i <= tagTypeGirl.length - 1; i++) {
            if (tagTypeGirl[i]['tag'] == tagType) {
                tagTypeGirlRecord = tagTypeGirl[i];
                break;
            }
        }

        require(
            [
                'echarts',
                'echarts/chart/line',
            ],
            function(ec) {
                var tags_plot = ec.init(document.getElementById('tags-plot'), theme);
                option = {
                    title: {
                        show: false
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: ['男', '女'],
                        padding: [10, 5, 10, 5]
                    },
                    calculable: true,
                    xAxis: [{
                        type: 'category',
                        data: ['大一', '大二', '大三', '大四', '研一', '研二', '研三', '博一', '博二', '博三', '博四', '博五']
                    }],
                    yAxis: [{
                        type: 'value',
                        axisLabel: {
                            formatter: '{value}'
                        }
                    }],
                    grid: {
                        x: 60,
                        x2: 30,
                        y: 40,
                        y2: 40
                    },
                    series: [{
                        name: '男',
                        type: 'line',
                        data: [(tagTypeBoyRecord['ug1'] / 2507.0).toFixed(3), (tagTypeBoyRecord['ug2'] / 2628.0).toFixed(3), (tagTypeBoyRecord['ug3'] / 2239.0).toFixed(3), (tagTypeBoyRecord['ug4'] / 2099.0).toFixed(3), (tagTypeBoyRecord['mt1'] / 2323.0).toFixed(3), (tagTypeBoyRecord['mt2'] / 2129.0).toFixed(3), (tagTypeBoyRecord['mt3'] / 1881.0).toFixed(3), (tagTypeBoyRecord['doc1'] / 729.0).toFixed(3), (tagTypeBoyRecord['doc2'] / 557.0).toFixed(3), (tagTypeBoyRecord['doc3'] / 644.0).toFixed(3), (tagTypeBoyRecord['doc4'] / 570.0).toFixed(3), (tagTypeBoyRecord['doc5'] / 491.0).toFixed(3)],
                    }, {
                        name: '女',
                        type: 'line',
                        data: [(tagTypeGirlRecord['ug1'] / 1322.0).toFixed(3), (tagTypeGirlRecord['ug2'] / 1288.0).toFixed(3), (tagTypeGirlRecord['ug3'] / 1339.0).toFixed(3), (tagTypeGirlRecord['ug4'] / 999.0).toFixed(3), (tagTypeGirlRecord['mt1'] / 1617.0).toFixed(3), (tagTypeGirlRecord['mt2'] / 1212.0).toFixed(3), (tagTypeGirlRecord['mt3'] / 1065.0).toFixed(3), (tagTypeGirlRecord['doc1'] / 371.0).toFixed(3), (tagTypeGirlRecord['doc2'] / 249.0).toFixed(3), (tagTypeGirlRecord['doc3'] / 301.0).toFixed(3), (tagTypeGirlRecord['doc4'] / 210.0).toFixed(3), (tagTypeGirlRecord['doc5'] / 208.0).toFixed(3)],
                    }]
                };
                tags_plot.setOption(option);
            });

        setTimeout(function() {
            if (!tagHasInterval) {
                tagHasInterval = true;

                tagTypeInterval = setInterval(function() {
                    tagIndex = (tagIndex + 1) % tags.length;
                    tagType = tags[tagIndex];
                    for (var i = 0; i <= tagTypeBoy.length - 1; i++) {
                        if (tagTypeBoy[i]['tag'] == tagType) {
                            tagTypeBoyRecord = tagTypeBoy[i];
                            break;
                        }
                    }
                    for (var i = 0; i <= tagTypeGirl.length - 1; i++) {
                        if (tagTypeGirl[i]['tag'] == tagType) {
                            tagTypeGirlRecord = tagTypeGirl[i];
                            break;
                        }
                    }

                    $('#affair #tags #hot-tags p').text(tagType);

                    require(
                        [
                            'echarts',
                            'echarts/chart/line',
                        ],
                        function(ec) {
                            var tags_plot = ec.init(document.getElementById('tags-plot'), theme);
                            option = {
                                title: {
                                    show: false
                                },
                                tooltip: {
                                    trigger: 'axis'
                                },
                                legend: {
                                    data: ['男', '女'],
                                    padding: [10, 5, 10, 5]
                                },
                                calculable: true,
                                xAxis: [{
                                    type: 'category',
                                    data: ['大一', '大二', '大三', '大四', '研一', '研二', '研三', '博一', '博二', '博三', '博四', '博五']
                                }],
                                yAxis: [{
                                    type: 'value',
                                    axisLabel: {
                                        formatter: '{value}'
                                    }
                                }],
                                grid: {
                                    x: 60,
                                    x2: 30,
                                    y: 40,
                                    y2: 40
                                },
                                series: [{
                                    name: '男',
                                    type: 'line',
                                    data: [(tagTypeBoyRecord['ug1'] / 2507.0).toFixed(3), (tagTypeBoyRecord['ug2'] / 2628.0).toFixed(3), (tagTypeBoyRecord['ug3'] / 2239.0).toFixed(3), (tagTypeBoyRecord['ug4'] / 2099.0).toFixed(3), (tagTypeBoyRecord['mt1'] / 2323.0).toFixed(3), (tagTypeBoyRecord['mt2'] / 2129.0).toFixed(3), (tagTypeBoyRecord['mt3'] / 1881.0).toFixed(3), (tagTypeBoyRecord['doc1'] / 729.0).toFixed(3), (tagTypeBoyRecord['doc2'] / 557.0).toFixed(3), (tagTypeBoyRecord['doc3'] / 644.0).toFixed(3), (tagTypeBoyRecord['doc4'] / 570.0).toFixed(3), (tagTypeBoyRecord['doc5'] / 491.0).toFixed(3)],
                                }, {
                                    name: '女',
                                    type: 'line',
                                    data: [(tagTypeGirlRecord['ug1'] / 1322.0).toFixed(3), (tagTypeGirlRecord['ug2'] / 1288.0).toFixed(3), (tagTypeGirlRecord['ug3'] / 1339.0).toFixed(3), (tagTypeGirlRecord['ug4'] / 999.0).toFixed(3), (tagTypeGirlRecord['mt1'] / 1617.0).toFixed(3), (tagTypeGirlRecord['mt2'] / 1212.0).toFixed(3), (tagTypeGirlRecord['mt3'] / 1065.0).toFixed(3), (tagTypeGirlRecord['doc1'] / 371.0).toFixed(3), (tagTypeGirlRecord['doc2'] / 249.0).toFixed(3), (tagTypeGirlRecord['doc3'] / 301.0).toFixed(3), (tagTypeGirlRecord['doc4'] / 210.0).toFixed(3), (tagTypeGirlRecord['doc5'] / 208.0).toFixed(3)],
                                }]
                            };
                            tags_plot.setOption(option);
                        });
                }, 8000);
            }
        }, 16000);
    });

    // 本科硕士博士wifi流量时间分布
    $('#undergraduate').highcharts({
        data: {
            columns: [
                [null, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23],
                trafficTimezone['本科']['教学楼'],
                trafficTimezone['本科']['宿舍'],
                trafficTimezone['本科']['食堂'],
                trafficTimezone['本科']['其他']
            ]
        },

        colors: ['#FE8463', '#60C0DD', '#FAD860', '#9BCA63'],

        chart: {
            polar: true,
            type: 'column',
            backgroundColor: 'rgba(255, 255, 255, 0)'
        },

        title: {
            text: ''
        },

        subtitle: {
            text: ''
        },

        pane: {
            size: '65%',
            center: ['50%', '52%']
        },

        legend: {
            align: 'center',
            verticalAlign: 'bottom',
            layout: 'horizontal',
            y: 5,
            itemStyle: {
                color: '#ccc'
            },
            itemHoverStyle: {
                color: '#f2f2f2'
            }
        },

        xAxis: {
            categories: ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23'],
            labels: {
                style: {
                    color: 'rgba(220, 220, 220, 0.9)',
                }
            },
            gridLineColor: 'rgba(255, 255, 255, 0.3)'
        },

        yAxis: {
            labels: {
                style: {
                    color: 'rgba(220, 220, 220, 0.9)'
                },
                enabled: false
            }
        },

        plotOptions: {
            series: {
                stacking: 'normal',
                shadow: false,
                groupPadding: 0,
                pointPlacement: 'on'
            }
        }
    });
    $('#master').highcharts({
        data: {
            columns: [
                [null, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23],
                trafficTimezone['硕士']['教学楼'],
                trafficTimezone['硕士']['宿舍'],
                trafficTimezone['硕士']['食堂'],
                trafficTimezone['硕士']['其他']
            ]
        },

        colors: ['#FE8463', '#60C0DD', '#FAD860', '#9BCA63'],

        chart: {
            polar: true,
            type: 'column',
            backgroundColor: 'rgba(255, 255, 255, 0)'
        },

        title: {
            text: ''
        },

        subtitle: {
            text: ''
        },

        pane: {
            size: '65%',
            center: ['50%', '52%']
        },

        legend: {
            align: 'center',
            verticalAlign: 'bottom',
            layout: 'horizontal',
            y: 5,
            itemStyle: {
                color: '#ccc'
            },
            itemHoverStyle: {
                color: '#f2f2f2'
            }
        },

        xAxis: {
            categories: ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23'],
            labels: {
                style: {
                    color: 'rgba(220, 220, 220, 0.9)',
                }
            },
            gridLineColor: 'rgba(255, 255, 255, 0.3)'
        },

        yAxis: {
            labels: {
                style: {
                    color: 'rgba(220, 220, 220, 0.9)'
                },
                enabled: false
            }
        },

        plotOptions: {
            series: {
                stacking: 'normal',
                shadow: false,
                groupPadding: 0,
                pointPlacement: 'on'
            }
        }
    });
    $('#doctor').highcharts({
        data: {
            columns: [
                [null, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23],
                trafficTimezone['博士']['教学楼'],
                trafficTimezone['博士']['宿舍'],
                trafficTimezone['博士']['食堂'],
                trafficTimezone['博士']['其他']
            ]
        },

        colors: ['#FE8463', '#60C0DD', '#FAD860', '#9BCA63'],

        chart: {
            polar: true,
            type: 'column',
            backgroundColor: 'rgba(255, 255, 255, 0)'
        },

        title: {
            text: ''
        },

        subtitle: {
            text: ''
        },

        pane: {
            size: '65%',
            center: ['50%', '52%']
        },

        legend: {
            align: 'center',
            verticalAlign: 'bottom',
            layout: 'horizontal',
            y: 5,
            itemStyle: {
                color: '#ccc'
            },
            itemHoverStyle: {
                color: '#f2f2f2'
            }
        },

        xAxis: {
            categories: ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23'],
            labels: {
                style: {
                    color: 'rgba(220, 220, 220, 0.9)',
                }
            },
            gridLineColor: 'rgba(255, 255, 255, 0.3)'
        },

        yAxis: {
            labels: {
                style: {
                    color: 'rgba(220, 220, 220, 0.9)'
                },
                enabled: false
            }
        },

        plotOptions: {
            series: {
                stacking: 'normal',
                shadow: false,
                groupPadding: 0,
                pointPlacement: 'on'
            }
        }
    });

    require(
        [
            'echarts',
            'echarts/chart/scatter'
        ],
        function(ec) {
            // 学生一卡通总消费和wifi总流量分布
            var scatter_plot = ec.init(document.getElementById('scatter-plot'), theme);
            option = {
                // color: ['#60C0DD', '#DD6069'],
                tooltip: {
                    trigger: 'axis',
                    showDelay: 0,
                    axisPointer: {
                        show: true,
                        type: 'cross',
                        lineStyle: {
                            type: 'dashed',
                            width: 1
                        }
                    }
                },
                legend: {
                    data: ['男', '女'],
                    x: 'right',
                    y: 'top',
                    padding: [15, 8, 5, 5]
                },
                xAxis: [{
                    type: 'value',
                    scale: true,
                    max: 6000,
                    axisLabel: {
                        formatter: '¥ {value}'
                    }
                }],
                yAxis: [{
                    type: 'value',
                    scale: true,
                    max: 10,
                    axisLabel: {
                        formatter: '{value} GB'
                    }
                }],

                series: [{
                    name: '男',
                    type: 'scatter',
                    large: true,
                    data: students['男']
                }, {
                    name: '女',
                    type: 'scatter',
                    large: true,
                    data: students['女']
                }]
            };
            scatter_plot.setOption(option);
        });

    var bath_realtime = true;
    $('#affair #bath-control #bath-realtime').click(function() {
        if (!bath_realtime) {
            $('#affair #bath-control #bath-history').removeClass("active");
            $(this).addClass("active");
            bath_realtime = true;
            require(
                [
                    'echarts',
                    'echarts/chart/line'
                ],
                function(ec) {
                    var bath_distribution = ec.init(document.getElementById('bath-distribution'), theme);
                    option = {
                        title: {
                            show: false
                        },
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            data: ['东区浴室', '西区浴室', '北区浴室', '水控系统'],
                            x: 'center',
                            y: 'bottom',
                            padding: [5, 5, 15, 5]
                        },
                        calculable: true,
                        xAxis: [{
                            type: 'category',
                            boundaryGap: false,
                            data: bathRealtime['1000091']['timestamp']
                        }],
                        yAxis: [{
                            type: 'value',
                            axisLabel: {
                                formatter: '{value}'
                            }
                        }],
                        grid: {
                            y: 40,
                            y2: 70,
                            x: 60,
                            x2: 40
                        },
                        series: [{
                            name: '西区浴室',
                            type: 'line',
                            data: bathRealtime['1000091']['count'],
                        }, {
                            name: '东区浴室',
                            type: 'line',
                            data: bathRealtime['1000093']['count'],
                        }, {
                            name: '北区浴室',
                            type: 'line',
                            data: bathRealtime['1000092']['count'],
                        }, {
                            name: '水控系统',
                            type: 'line',
                            data: bathRealtime['1000095']['count'],
                        }]
                    };

                    bath_distribution.setOption(option);
                });
        }
    });
    $('#affair #bath-control #bath-history').click(function() {
        if (bath_realtime) {
            $('#affair #bath-control #bath-realtime').removeClass("active");
            $(this).addClass("active");
            bath_realtime = false;
            require(
                [
                    'echarts',
                    'echarts/chart/line'
                ],
                function(ec) {
                    var bath_distribution = ec.init(document.getElementById('bath-distribution'), theme);
                    option = {
                        title: {
                            show: false
                        },
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            data: ['东区浴室', '西区浴室', '北区浴室', '水控系统'],
                            x: 'center',
                            y: 'bottom',
                            padding: [5, 5, 15, 5]
                        },
                        calculable: true,
                        xAxis: [{
                            type: 'category',
                            boundaryGap: false,
                            data: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23']
                        }],
                        yAxis: [{
                            type: 'value',
                            axisLabel: {
                                formatter: '{value}'
                            }
                        }],
                        grid: {
                            y: 40,
                            y2: 70,
                            x: 60,
                            x2: 40
                        },
                        series: [{
                            name: '西区浴室',
                            type: 'line',
                            data: bathStat['闵行西区浴室'],
                        }, {
                            name: '东区浴室',
                            type: 'line',
                            data: bathStat['闵行东区浴室'],
                        }, {
                            name: '北区浴室',
                            type: 'line',
                            data: bathStat['闵行北区浴室'],
                        }, {
                            name: '水控系统',
                            type: 'line',
                            data: bathStat['六期水控'],
                        }]
                    };

                    bath_distribution.setOption(option);
                });
        }
    });
    // 澡堂实时流量
    require(
        [
            'echarts',
            'echarts/chart/line'
        ],
        function(ec) {
            var bath_distribution = ec.init(document.getElementById('bath-distribution'), theme);
            option = {
                title: {
                    show: false
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['东区浴室', '西区浴室', '北区浴室', '水控系统'],
                    x: 'center',
                    y: 'bottom',
                    padding: [5, 5, 15, 5]
                },
                calculable: true,
                xAxis: [{
                    type: 'category',
                    boundaryGap: false,
                    data: bathRealtime['1000091']['timestamp']
                }],
                yAxis: [{
                    type: 'value',
                    axisLabel: {
                        formatter: '{value}'
                    }
                }],
                grid: {
                    y: 40,
                    y2: 70,
                    x: 60,
                    x2: 40
                },
                series: [{
                    name: '西区浴室',
                    type: 'line',
                    data: bathRealtime['1000091']['count'],
                }, {
                    name: '东区浴室',
                    type: 'line',
                    data: bathRealtime['1000093']['count'],
                }, {
                    name: '北区浴室',
                    type: 'line',
                    data: bathRealtime['1000092']['count'],
                }, {
                    name: '水控系统',
                    type: 'line',
                    data: bathRealtime['1000095']['count'],
                }]
            };

            bath_distribution.setOption(option);
        });

});
</script>