<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Elite - 智慧校园数据生态系统</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=O34wibzj1lMhN3UnoLhnRPe3"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/fonts/font-awesome-4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/menu_elastic.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/layout.css" />
    <script src="__PUBLIC__/js/snap.svg-min.js"></script>
    <!--[if IE]>
  		<script src="__PUBLIC__/js/html5.js"></script>
		<![endif]-->
</head>

<body>
    <div class="container">
        <header>
            <h1>Elite<span>智慧校园数据生态系统</span></h1>
            <div id="header-right"><i class="fa fa-fw"></i><span><span></div>
        </header>

		<div class="menu-wrap">
			<nav class="menu">
				<div class="icon-list">
					<a id="nav-mobility" href="{:U('Index/index')}"><i class="fa fa-fw fa-group"></i><span>人流监控</span></a>
                	<a id="nav-cater" href="{:U('Cater/index')}"><i class="fa fa-fw fa-coffee"></i><span>餐饮分析</span></a>
                	<a id="nav-affair" href="{:U('Affair/index')}"><i class="fa fa-fw fa-graduation-cap"></i><span>学务管理</span></a>
                	<a id="nav-education" href=""><i class="fa fa-fw fa-book"></i><span>教学决策</span></a>
                	<br>
                	<a id="nav-stat" href=""><i class="fa fa-fw fa-bar-chart"></i><span>个人顾问</span></a>
                	<a id="nav-info" href=""><i class="fa fa-fw fa-share-square-o"></i><span>信息共享</span></a>
                	<br>
                	<a id="nav-web" href=""><i class="fa fa-fw fa-paper-plane-o"></i><span>网站统计</span></a>
            	</div>
            </nav>
            <!-- <button class="close-button" id="close-button">Close Menu</button> -->
            <div class="morph-shape" id="morph-shape" data-morph-open="M-1,0h101c0,0,0-1,0,395c0,404,0,405,0,405H-1V0z">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100 800" preserveAspectRatio="none">
                    <path d="M-1,0h101c0,0-97.833,153.603-97.833,396.167C2.167,627.579,100,800,100,800H-1V0z" />
                </svg>
            </div>
    	</div>
    	<button class="menu-button" id="open-button">Open Menu</button>
    	<div class="content-wrap">
        	<div class="content">
            	{__CONTENT__}
        	</div>
    	</div><!-- /content-wrap -->
    </div>
    <!-- /container -->
    <script src="__PUBLIC__/js/classie.js"></script>
    <script src="__PUBLIC__/js/main3.js"></script>
    <footer>
        <h3>Copyright © 2014-2015 沉默的忘了爱</h3>
    </footer>
</body>

</html>