<script>
var dailyTradeSum = eval('({$dailyTradeSum})');
var todayMensa = eval('({$todayMensa})');
var now = eval('({$now})');
$(document).ready(function() {
    $('#nav-cater').addClass('active');
    $('#header-right i').addClass('fa-coffee');
    $('#header-right span').text('餐饮分析');
});
</script>
<style>
#cater #sale5 {
    height: 250px;
    background-color: #222 !important;
    margin-bottom: 30px;
}

#cater #count5 {
    height: 250px;
    background-color: #222 !important;
    margin-bottom: 30px;
}

#cater #realtime-total {
    height: 250px;
    background-color: #222 !important;
    margin-bottom: 30px;
}

#cater #history-daily {
    height: 250px;
    background-color: #222 !important;
    margin-bottom: 30px;
}

#cater #humans {
    height: 250px;
    background-color: #222 !important;
}

#cater #carteens {
    height: 250px;
    background-color: #222 !important;
}
</style>
<div id="cater">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <p class="plot-title">今日总额TOP5</p>
            <div id="sale5"></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <p class="plot-title">今日频次TOP5</p>
            <div id="count5"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <p class="plot-title">实时餐饮总额</p>
            <div id="realtime-total"></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <p class="plot-title">历史日均总额</p>
            <div id="history-daily"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <p class="plot-title">餐饮人群组成</p>
            <div id="humans"></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <p class="plot-title">各大食堂占比</p>
            <div id="carteens"></div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    require(
        [
            'echarts',
            'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
        ],
        function(ec) {
            // 当日总销售额top5
            var sale5 = ec.init(document.getElementById('sale5'), theme);
            option = {
                title: {
                    show: false
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: { // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                    },
                    formatter: function(params) {
                        var tar = params[0];
                        return tar.name + '<br/>' + tar.seriesName + ' : ' + tar.value;
                    }
                },
                xAxis: [{
                    type: 'category',
                    splitLine: {
                        show: false
                    },
                    data: ['餐饮总额', '三餐一楼', '绿园餐厅', '三餐二楼', '上海快餐', '川味点心']
                }],
                yAxis: [{
                    type: 'value'
                }],
                grid: {
                    y: 30,
                    y2: 50,
                    x: 70,
                    x2: 30
                },
                series: [{
                    name: '辅助',
                    type: 'bar',
                    stack: '总量',
                    itemStyle: {
                        normal: {
                            barBorderColor: 'rgba(0,0,0,0)',
                            color: 'rgba(0,0,0,0)'
                        },
                        emphasis: {
                            barBorderColor: 'rgba(0,0,0,0)',
                            color: 'rgba(0,0,0,0)'
                        }
                    },
                    data: [0, 306506, 279564, 254983, 233812, 217267]
                }, {
                    name: '餐饮总额',
                    type: 'bar',
                    stack: '总量',
                    itemStyle: {
                        normal: {
                            color: '#4ea5ff',
                            label: {
                                show: true,
                                position: 'inside'
                            }
                        }
                    },
                    data: [339411, 32905, 26942, 24581, 21171, 16545]
                }]
            };
            sale5.setOption(option);
        });

    require(
        [
            'echarts',
            'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
        ],
        function(ec) {
            // 当日总消费次数top5
            var count5 = ec.init(document.getElementById('count5'), theme);
            option = {
                title: {
                    show: false
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: { // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                    },
                    formatter: function(params) {
                        var tar = params[0];
                        return tar.name + '<br/>' + tar.seriesName + ' : ' + tar.value;
                    }
                },
                xAxis: [{
                    type: 'category',
                    splitLine: {
                        show: false
                    },
                    data: ['频次总和', '三餐一楼', '上海快餐', '川味点心', '绿园餐厅', '江南小吃']
                }],
                yAxis: [{
                    type: 'value'
                }],
                grid: {
                    y: 30,
                    y2: 50,
                    x: 70,
                    x2: 30
                },
                series: [{
                    name: '辅助',
                    type: 'bar',
                    stack: '总量',
                    itemStyle: {
                        normal: {
                            barBorderColor: 'rgba(0,0,0,0)',
                            color: 'rgba(0,0,0,0)'
                        },
                        emphasis: {
                            barBorderColor: 'rgba(0,0,0,0)',
                            color: 'rgba(0,0,0,0)'
                        }
                    },
                    data: [0, 44381, 40391, 37066, 34196, 31720]
                }, {
                    name: '频次总和',
                    type: 'bar',
                    stack: '总量',
                    itemStyle: {
                        normal: {
                            color: '#ff6b4e',
                            label: {
                                show: true,
                                position: 'inside'
                            }
                        }
                    },
                    data: [49794, 5413, 3990, 3325, 2870, 2476]
                }]
            };
            count5.setOption(option);
        });

    require(
        [
            'echarts',
            'echarts/chart/line',
            'echarts/chart/bar'
        ],
        function(ec) {
            // 实时校园交易总额
            var realtime_total = ec.init(document.getElementById('realtime-total'), theme);
            var timeTicket;
            option = {
                title: {
                    show: false
                },
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    show: false,
                    data: ['总额']
                },
                grid: {
                    y: 30,
                    y2: 50,
                    x: 70,
                    x2: 30
                },
                xAxis: [{
                    type: 'category',
                    boundaryGap: true,
                    data: todayMensa['timestamp']
                }],
                yAxis: [{
                    type: 'value',
                    scale: true,
                    splitNumber: 4
                }],
                series: [{
                    name: '实时餐饮总额',
                    type: 'line',
                    data: todayMensa['amount']
                }]
            };
            var lastData;
            var axisData;
            clearInterval(timeTicket);
            var step = 1;
            timeTicket = setInterval(function() {
                var interval = now + 2 * step;
                $.ajax({
                    url: "{:U('Cater/realtime')}",
                    type: 'POST',
                    data: {
                        timestamp: interval
                    },
                    dataType: 'json',
                    error: function() {},
                    success: function(data) {
                        lastData = parseInt(data);
                        var hour = (new Date(interval * 1000)).getHours();
                        if (hour < 10) {
                            hour = '0' + String(hour);
                        }
                        var minute = (new Date(interval * 1000)).getMinutes();
                        if (minute < 10) {
                            minute = '0' + String(minute);
                        }
                        var second = (new Date(interval * 1000)).getSeconds();
                        if (second < 10) {
                            second = '0' + String(second);
                        }
                        axisData = hour + ':' + minute + ':' + second;
                        step = step + 1;
                        // 动态数据接口 addData
                        realtime_total.addData([
                            [
                                0, // 系列索引
                                lastData, // 新增数据
                                false, // 新增数据是否从队列头部插入
                                false, // 是否增加队列长度，false则自定删除原有数据，队头插入删队尾，队尾插入删队头
                                axisData // 坐标轴标签
                            ]
                        ]);
                    }
                });
            }, 2000);

            realtime_total.setOption(option);
        });

    require(
        [
            'echarts',
            'echarts/chart/line',
        ],
        function(ec) {
            // 历史每日就餐总额
            var history_daily = ec.init(document.getElementById('history-daily'), theme);
            option = {
                title: {
                    show: false
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['男', '女'],
                    x: 'right',
                    y: 'top'
                },
                calculable: true,
                xAxis: [{
                    type: 'category',
                    boundaryGap: true,
                    data: dailyTradeSum['男']['day']
                }],
                yAxis: [{
                    type: 'value',
                    axisLabel: {
                        formatter: '{value} W'
                    },
                }],
                grid: {
                    y: 30,
                    y2: 50,
                    x: 70,
                    x2: 40
                },
                series: [{
                    name: '男',
                    type: 'line',
                    data: dailyTradeSum['男']['sum'],
                }, {
                    name: '女',
                    type: 'line',
                    data: dailyTradeSum['女']['sum'],
                }]
            };
            history_daily.setOption(option);
        });

    require(
        [
            'echarts',
            'echarts/chart/pie'
        ],
        function(ec) {
            // 当日就餐总额人群组成
            var humans = ec.init(document.getElementById('humans'), theme);
            option = {
                title: {
                    show: false
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    x: 'right',
                    y: 'center',
                    data: ['男本科', '男硕士', '男博士', '女本科', '女硕士', '女博士'],
                    textStyle: {
                        color: 'auto'
                    },
                    padding: [5, 20, 5, 10],
                    orient: 'vertical'
                },
                calculable: true,
                series: [{
                    name: '访问来源',
                    type: 'pie',
                    radius: '45%',
                    center: ['40%', '50%'],
                    data: [{
                        value: 143828,
                        name: '男本科'
                    }, {
                        value: 73183,
                        name: '男硕士'
                    }, {
                        value: 39792,
                        name: '男博士'
                    }, {
                        value: 48127,
                        name: '女本科'
                    }, {
                        value: 23865,
                        name: '女硕士'
                    }, {
                        value: 10613,
                        name: '女博士'
                    }]
                }]
            };
            humans.setOption(option);
        });

    require(
        [
            'echarts',
            'echarts/chart/pie'
        ],
        function(ec) {
            // 当日就餐各大食堂占比
            var carteens = ec.init(document.getElementById('carteens'), theme);
            option = {
                title: {
                    show: false
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    x: 'right',
                    y: 'center',
                    data: ['第一食堂', '第二食堂', '第三食堂', '第四食堂', '第五食堂', '第六食堂'],
                    textStyle: {
                        color: 'auto'
                    },
                    padding: [5, 20, 5, 10],
                    orient: 'vertical'
                },
                calculable: true,
                series: [{
                    name: '访问来源',
                    type: 'pie',
                    radius: '45%',
                    center: ['40%', '50%'],
                    data: [{
                        value: 127824,
                        name: '第二食堂'
                    }, {
                        value: 60446,
                        name: '第三食堂'
                    }, {
                        value: 50073,
                        name: '第四食堂'
                    }, {
                        value: 50291,
                        name: '第一食堂'
                    }, {
                        value: 21076,
                        name: '第五食堂'
                    }, {
                        value: 6947,
                        name: '第六食堂'
                    }]
                }]
            };
            carteens.setOption(option);
        });
});
</script>